html{
    height: 100%;
    width: 100%;
}

body{
    height: inherit;
    width:inherit;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:  min(100px, 200px) repeat(4, 1fr);
    grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    "sidebar content";
    /* border: solid black 2px; */
    background-color: rgb(255, 255, 255);
    
}

div.header{
    grid-area: header;
    background-image: linear-gradient(rgb(218, 218, 218), rgb(211, 211, 211));
    /* border: solid black 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid black 2px;
}


div.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
    height: 100%;
    /* border: solid rgb(185, 39, 39) 1px; */
    align-items: center;
    overflow-x: visible;
    border-right: solid black 2px;
}

.navigation{
    margin-top: 1em;
    display:grid;
    gap: .7rem;
    margin-bottom: 1em;
    width: 90%;
    font-size: 1.2rem;
}

.navigation > .tabs{
    display: flex;
    padding: .5rem 0;
    padding-left: .4rem;
    border-radius: .2rem;
    border: solid white 1px;
    align-content: center;
    /* text-align: center; */
}

.tabs > div{
    /* border: solid red 1px; */
    align-self: center;
}

#completed > div{
    margin-left: .4rem;
}

.navigation div:hover{
    background-image: linear-gradient(rgb(150, 94, 202), rgb(97, 63, 129));
}

.selected{
    background-image: linear-gradient(rgb(150, 94, 202), rgb(97, 63, 129));
}

.projectSidebar{
    font-size:1.5rem;
    font-weight: bold;
    width: 90%;
    padding-left: .2rem;
    border-bottom:solid black 2px;
    
}

#projects{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* border: solid red 1px; */
    width: 95%;
    max-height: 90%;
    /* gap: .7rem; */
    overflow-y: scroll;
    /* overflow-x: visible; */
    margin-bottom: .1rem;
    
}

.projectWrapper{
    position: relative;
    display:flex;
    /* height: fit-content; */
    /* flex-direction: row; */
    /* width: 0; */
    /* min-width: 100%; */
    /* background-color: rgb(120, 78, 136); */
    /* border: solid rgb(255, 255, 255) 1px; */
    /* justify-content: space-between; */
    /* overflow: hidden; */
    /* background-image: linear-gradient(rgb(119, 75, 160), rgb(97, 63, 129)); */
    padding: .5rem 0rem;
    padding-left: .2rem;
    margin-top: .1rem;
    border-radius: .4rem;
    align-items: center;
    border-bottom: solid white 1px;
    /* box-shadow: 1px 4px 1px 1px rgb(0, 0, 0); */
}

.projectWrapper:hover{
    background-image: linear-gradient(rgb(150, 94, 202), rgb(97, 63, 129));
}

.title{
    /* position: absolute; */
    align-self: center;
    width: 80%;
    /* height: 100%; */
    /* border: solid white 1px; */
    /* padding: .5rem 0rem;
    padding-left: .4rem;
    margin-top: .1rem; */
    border-radius: .2rem;
    /* overflow:hidden; */
    text-overflow: ellipsis;
    word-break: break-word;
}

.title:hover{
    /* position: absolute; */
    /* align-self: center; */
    /* align-self: baseline; */
    /* overflow: visible; */
    /* width: fit-content; */
    /* border: 1px solid #eee; */
    /* box-shadow: 0rem .1rem .1rem 0rem black; */
    /* padding:inherit; */
    /* white-space: normal; */
    /* bottom: 5%; */
    /* word-break: break-word; */
    /* z-index:5; */
    /* background-color:rgb(158, 130, 165); */
}

.projectIcon > svg{
    /* align-self: center; */
    /* border: solid white 1px; */
    /* justify-self: center; */
    margin-right: .2rem;
}

.projectWrapper .removeProjectButton{
    position: absolute;
    display: none;
    right: .1rem;
    align-items: center;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
	/* cursor: pointer; */
	/* outline: inherit; */
    /* margin-right: .4rem; */
}
.projectWrapper:hover > .removeProjectButton{
    display:block;
    background-color: white;
    padding: .4rem;
    border-radius: 50%;
}

.projectWrapper button{
    /* position: absolute; */
    /* align-self: flex-end; */
}

#addProjectButton{
    margin: .5rem 0;
    padding: 1rem;
    width: 90%;
    background-image: linear-gradient(rgb(80, 172, 80), rgb(51, 110, 51));
}

#addProjectButton:hover{
    background-image: linear-gradient(rgb(51, 110, 51), rgb(51, 110, 51));

}

div#content{
    grid-area: content;
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    position: relative;
    /* border: solid green 2px; */
    justify-content: center;
    align-items: center;
}

.contentWrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(218, 218, 218);
    border: solid red 2px;
    justify-self: center;
}

.projectInfo{
    display: flex;
    border: solid green 2px;
    border-bottom: solid black 2px;
    margin-top: 3rem;
    margin-left: 3rem;
    width: 70%;
}

.projectTitle{
    border: solid greenyellow 2px;
    font-size: 4rem;

}

.projectDueDate{
    border: solid limegreen 2px;
    font-size: 3rem;
}

.projectToDoItems{
    margin-top: .4rem;
    border: solid blue 2px;
    font-size: 2rem;
}

/* div#projectForm{
    display: none;
} */

footer{
    display: none;
}

.projectForm{
    position: absolute;
    border: rgb(221, 0, 0) solid 1px;
    display: flex;
    align-self: center;
    justify-self: center;
    /* top: 15vh; */
    background-color: white;
    /* z-index: 1; */

}

.addProjectForm{
    background-color: floralwhite;
    width: 90%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.addProjectForm> h1{
    font-size: 1.5em;
    font-weight: bolder;
}

.addProjectForm > label{
    margin-top: .8em;
}

.addProjectForm > button{
    margin-top: .8em;
    padding: 1em;
}

div#toDoItemForm{
    position: absolute;
    border: rgb(221, 0, 0) solid 1px;
    display: flex;
    align-self: center;
    justify-self: center;
    /* top: 15vh; */
    background-color: white;
}
