html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#content{
    background-color: rgba(197, 182, 163, 0.822);
    height: 95%;
    width: 70%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.addProjectButton{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2em;
    width: 100%;
    background-color: rgb(63, 138, 76);
    border: none;
    font-size: 1.1em;
    
}

.addProjectButton:hover{
    background-color: rgb(40, 87, 48);
}

div.tabDiv{
    background-color: rgb(38, 57, 92);
    display: flex;
    flex-direction: row;
    height: 5em;
    width: 100%;
    
}

.tabs{
    background-color: rgb(212, 116, 52);
    flex: 1;
    border: darkblue solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs:hover{
    background-color: rgb(172, 37, 37);
    flex: 1.2;
}

.selected{
    background-color: rgb(172, 37, 37);
    flex: 1.2; 
}

.selected:hover{
    background-color: rgb(161, 40, 40);
    flex: 1.2;
}

.projectForm{
    position: absolute;
    border: rgb(221, 0, 0) solid 1px;
    display: flex;
    align-self: center;
    justify-content: center;
    top: 15vh;
    background-color: white;

}

.addProjectForm{
    background-color: floralwhite;
    width: 90%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    padding: 4em;
}

.addProjectForm> h1{
    font-size: 1.5em;
    font-weight: bolder;
}

.addProjectForm > label{
    margin-top: .8em;
}

.addProjectForm > button{
    margin-top: .8em;
    padding: 1em;
}

.toDoItemForm{
    position: absolute;
    border: rgb(221, 0, 0) solid 1px;
    display: flex;
    align-self: center;
    justify-content: center;
    top: 15vh;
    background-color: white;
}

.addToDoItemForm{
    background-color: floralwhite;
    width: 90%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    padding: 4em;
}

.addToDoItemForm> h1{
    font-size: 1.5em;
    font-weight: bolder;
}

.addToDoItemForm > label{
    margin-top: .8em;
}

.addToDoItemForm > button{
    margin-top: .8em;
    padding: 1em;
}

.project{
    width: 90%;
    padding: 1em;
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    border: forestgreen solid 3px;
    position: relative;
}

.projectLabels{
    display: flex;
    flex-direction: row;
    border: orange solid 3px;
}

.titleLabel{
    width: 50%;
}

.projectInfo{
    display: flex;
    flex-direction: row;
    border: rgb(0, 204, 255) solid 3px;
    width: 100%;
    align-items: center;
    /* position: relative; */
}

.projectInfo > .title{
    width: 60%;
    border: lawngreen solid 1px;
    justify-items: start;
}

.dueDate{

}

.projectInfo .addToDoItemButton{
    margin-left: auto;

}

 .project > .completeButton{
    margin-top: 1em;
    padding: .5em;
    margin-left: auto;
    border: black solid 1px;
    background-color: rgb(40, 138, 56);
}

.project > .completeButton:hover{
    background-color: rgb(40, 87, 48);
}

.project > .removeButton{
    visibility: hidden;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    /* padding: .2em; */
    /* border: none; */
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    top: 0%;
    right: 0%;
    align-self: end;
}

.project:hover > .removeButton{
    visibility: visible;
    box-shadow: 3px 3px 1px 1px rgba(126, 126, 126, 0.671);
}

.project > .removeButton:hover{
    background-color: thistle;
}

.projectToDoItems{
    border: fuchsia solid 1px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.toDoItem{
    display: flex;
    flex-direction: row;
    border: rgb(105, 233, 255) solid 1px;
    
    position: relative;
    margin-bottom: .5em;
}

.toDoItem:hover{
    background-color: rgba(145, 67, 67, 0.575);
}

.toDoItemInfo{
    display: flex;
    flex-direction: row;
    /* position: relative; */
    width: 100%;
    margin-left: auto;
    background-color: rgba(205, 92, 92, 0.575);
    
}

.toDoItem > .removeButton{
    visibility: hidden;
    align-items: center;
    /* position: absolute; */
    /* left: -2em; */
    padding: 0 .3em;
    margin-right: .4em;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
    color: red;
    font-weight: bolder;
    border-radius: 50%;
}

.toDoItem:hover > .removeButton{
    visibility: visible;
    box-shadow: 3px 3px 1px 1px rgba(126, 126, 126, 0.671);
}

.toDoItem > .removeButton:hover{
    background-color: thistle;
}

.toDoItemInfo > .completeButton{
    margin-left: auto;
    border: black solid 1px;
    background-color: rgb(40, 138, 56);
    color: white;
}

.toDoItemInfo > .completeButton:hover{
    background-color: rgb(40, 87, 48);
}